.header {
  padding: var(--space-s);

  // flex-direction: row;

  gap: var(--space-xxl);
  flex-wrap: wrap;
  & .about-me {
    display: flex;
    flex-direction: row;
    gap: var(--space-xl);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    flex-grow: 4;
    & .caption {
      margin-bottom: var(--space-xxs);
    }
  }
}

.contact {
  display: flex;
  gap: var(--space-xl);
  flex-direction: column;
  --color-background-primary: gray;
  flex-grow: 2;
  grid-column: -1/-4;
  grid-row: 2/3;
}
