.img-wrapper {
  position: relative;

  & .corner-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    bottom: 84px;
    translate: 0 -100%;
  }
}
.large {
  grid-column: span 12;
}
.medium {
  grid-column: span 6;
}
.small {
  grid-column: span 4;
}

@media screen and (max-width: 640px) {
  .img-wrapper {
    & .corner-wrapper {
      bottom: var(--caption-margin);
    }
  }
  .large,
  .medium,
  .small {
    grid-column: span 12;
  }
}

@media screen and (max-width: 800px) {
  .img-wrapper {
    & .corner-wrapper {
      bottom: 131px;
    }
  }
}
