.projects {
    display: flex;
    flex-direction: column;
    gap: var(--space-48);
    max-width: 45ch;
.hr {
    height: 2px;
    display: block;
    margin-inline: var(--space-12);
    border: none;
    background-color: #FAFAFA;
}
}