.projects {
    display: flex;
    width: 100%;
    // align-items: flex-start;
    flex-direction: column;
    gap: var(--space-64);
    height: 100%;   
    

}

.hr {
    align-self: stretch;
    border: 0;
    border-bottom: 2px dotted  rgb(210, 210, 210);
    margin: 0 16px;
}

.projectThumbnail {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 920px) {
.projects {
    gap: var(--space-40);
}}