.projects {
    width: 100%;
  }

  .button {
    grid-column: 1 / -1;
    text-align: left;
    background-color: transparent;
    border: none;
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    &:not(.active):hover, &:not(.active):focus-visible, &:not(.active):focus {
        background-color: var(--color-bg-secondary);
        outline: none;
    }
    &.active {
        background-color: var(--color-fg);
        color: var(--color-bg);
        outline: none;
    }
  }

  .preview {
    grid-row: 1 / 3;
    grid-column: 2 / 3;
    border: 1px solid var(--color-fg);
    border-radius: 6px;
    // background-color: var(--color-bg-secondary);
    padding: var(--space-8);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

