.project {
  position: relative;

  .grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--space-xs);
  }

  & figure {
    & div {
      position: relative;
    }
    & video {
      object-fit: cover;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      position: absolute;
      z-index: -1;
    }
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 1;
    }
    & .caption-wrapper {
      position: sticky;
      bottom: 0;
      z-index: 1;
      background-color: #000;
      & figcaption {
        padding-block: var(--space-xs);

        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        & > a {
          font-size: var(--font-size-body);
          font-weight: var(--font-weight-m);
        }
      }
    }
  }
}

.img-wrapper {
  position: relative;
  & .corner-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    bottom: 86px;
    translate: 0 -100%;
  }
}

@media screen and (max-width: 920px) {
  // .project {
  //   position: relative;
  //   &.offset {
  //     margin-top: 0px;
  //   }

  //   &.medium,
  //   &.small,
  //   &.large {
  //     grid-column: span 12;
  //     margin: 0;
  //   }
  // }
}
@media screen and (max-width: 800px) {
  .project figcaption {
    flex-direction: column;
    gap: var(--space-s);
    position: relative;
    & .fig-caption-corner {
      display: block !important;
    }
  }
}
