.project {
  position: relative;
  margin: var(--space-xl);

  &:nth-child(2n) {
    margin-top: 300px;
    align-self: end;
  }

  &.small {
    grid-column: span 1;
    & img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &.medium {
    grid-column: span 1;
    & img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  &.large {
    grid-column: span 1;
    & img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  & figure {
    & div {
      position: relative;
    }
    & video {
      object-fit: cover;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      position: absolute;
      z-index: -1;
    }
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 1;
      border-radius: 4px;
      aspect-ratio: 8/9;
    }
    & figcaption {
      padding-block: var(--space-xs);
      & .title {
        display: flex;
        font-weight: var(--font-weight-m);
        //   letter-spacing: -0.5px;
        width: fit-content;
        gap: var(--space-xxs);
        align-items: center;
        color: var(--color-foreground-primary);
        backdrop-filter: blur(6px);
      }
      & > a {
        font-size: var(--font-size-caption);
        font-weight: var(--font-weight-m);
        margin-top: var(--space-m);
      }
    }
  }
}

@media screen and (max-width: 920px) {
  .project {
    position: relative;
    &.offset {
      margin-top: 0px;
    }

    &.medium,
    &.small,
    &.large {
      grid-column: span 12;
      margin: 0;
    }
  }
}
