.header {
  padding: var(--space-s);
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: var(--space-xxl);
  padding-block: 200px;
  flex-wrap: wrap;
  & .about-me {
    display: flex;
    gap: var(--space-l);
    flex-direction: column;
    flex-grow: 4;
    & .caption {
      margin-bottom: var(--space-xxs);
    }
  }
}

.contact {
  display: flex;
  gap: var(--space-xl);
  flex-direction: column;
  --color-background-primary: gray;
  flex-grow: 2;
}
