.header {
  padding-block: calc(2 * var(--space-xxl)) var(--space-xl);
  gap: var(--space-xxl);
  flex-wrap: wrap;
}

.contact {
  display: flex;
  gap: var(--space-xl);
  flex-direction: column;
  --color-background-primary: gray;
  flex-grow: 2;
}
