.img-wrapper {
  position: relative;
  & img {
    border-radius: 6px;
  }
  & .corner-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    bottom: 84px;
    translate: 0 -100%;
  }
}
.large {
  grid-column: span 12;
}
.medium {
  grid-column: span 6;
}
.small {
  grid-column: span 4;
}
