.container {
    // padding: var(--space-32);
    // position: relative;
//   width: 100vw; 
    display: flex;
    flex-grow: 1;
}


.legend {

    display: flex;
    flex-direction: row;
    gap: var(--space-16);

  }