.button {
    text-decoration: none;
    font-family: var(--font-family-sans);
    // -webkit-text-stroke: 0.2px var(--color-fg);
    color: var(--color-fg);
    background-color: var(--color-bg);
    // backdrop-filter: blur(10px);
    // background-blend-mode: plus-lighter;
    height: 1.775rem;
    min-width: 1.775rem;

    font-size: var(--font-size-body);
    font-weight: var(--font-weight-base);
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.01), 0 0 6px 1px rgba(0, 0, 0, 0.1);
    padding: var(--space-4) var(--space-8) ;
    // height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: none;
    font-weight: var(--font-weight-base);
    letter-spacing: -0.01em;
    transition: background-color 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955);

    &.inverted {
        background-color: var(--color-bg-inverted);
        color: var(--color-fg-inverted);
        &:hover {
            background-color: var(--color-bg-inverted);
            @media (prefers-color-scheme: dark) {
                background-color: var(--color-bg-inverted) !important;
            }
        }
    }


    &:hover {
        background-color: var(--color-bg-inverted);
        color: var(--color-fg-inverted);
        @media (prefers-color-scheme: dark) {
            background-color: rgba($color: #292929, $alpha: 0.8) !important;
        }
    }
    &:active {
        scale: 0.98;
        rotate: 1deg;
    }


}

@media (max-width: 920px) {
    .button {
        height: 2rem;
        min-width: 2rem;
    }
}