.button {
    position: relative;
    font-size: var(--font-size-button);
    font-weight: var(--font-weight-emphasis);
    height: 26px;
    letter-spacing: -0.01em;
    font-family: var(--font-geist-sans);
    color: var(--color-fg);
    text-decoration: none;
    background: none;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    gap: var(--space-4);
    padding-inline: var(--space-6);
    border-radius: 6px;
    transition: background-color 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);

   &:hover {
    transition: background-color 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    background-color: rgba($color: #F2F2F2, $alpha: 0.8);
    @media (prefers-color-scheme: dark) {
        background-color: rgba($color: #292929, $alpha: 0.8) !important;
    }
   } 

    &:focus-visible {
        outline: none;
        border: none;
    }

    &.withLeadingVisual {
        padding-inline-start: var(--space-4);
    }

    &.withTrailingVisual {
        padding-inline-end: var(--space-4);
    }
}

@media (max-width: 920px) {
    .button {
        height: 2rem;
    }
}