/* Base text styles */
.body {
  font-family: var(--font-geist-sans);
  font-size: var(--font-size-body);
  line-height: var(--line-height-base);
  font-weight: var(--font-weight-base);
  letter-spacing: -0.002em;
  max-width: 42ch;
}

.bodyEmphasis {
  font-family: var(--font-geist-mono);
  font-size: var(--font-size-body);
  line-height: var(--line-height-base);
  font-weight: var(--font-weight-emphasis);
  letter-spacing: -0.01em;
}

.bodyArticle {
  font-size: var(--font-size-body-article);
  line-height: var(--line-height-article);
  font-weight: var(--font-weight-article);
  letter-spacing: -0.01em;
}

.heading {
  font-size: var(--font-size-heading);
  line-height: var(--line-height-base);
  font-weight: var(--font-weight-heading);
  letter-spacing: -0.01em;
}

.caption {
  font-family: var(--font-geist-mono);
  font-size: var(--font-size-caption);
  line-height: var(--line-height-base);
  font-weight: var(--font-weight-base);
  letter-spacing: -0.01em;
}

.captionEmphasis {
  font-family: var(--font-geist-mono);
  font-size: var(--font-size-caption);
  line-height: var(--line-height-base);
  font-weight: var(--font-weight-emphasis);  
  letter-spacing: -0.01em;
}

.display {
  font-size: var(--font-size-display);
  line-height: var(--line-height-base);
  font-weight: var(--font-weight-heading);
  letter-spacing: -0.035em;

}
