.Text {
  &.main-heading {
    @media screen and (max-width: 600px) {
      font-size: var(--font-size-main-heading);
    }
    font-size: var(--font-size-main-heading);
    font-weight: var(--font-weight-m);
    // letter-spacing: -0.2px;

    line-height: 140%;

  }
  &.heading {
    font-size: var(--font-size-main-heading);
    font-weight: var(--font-weight-m);
    // letter-spacing: -0.2px;

    line-height: 140%;

  }
  &.body {
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-m);
    // letter-spacing: -0.2px;

    line-height: 140%;

  }

  &.caption {
    font-size: var(--font-size-caption);
    font-weight: var(--font-weight-m);
    // text-transform: uppercase;
    // letter-spacing: 1px;
    line-height: 140%;
  }

  &.secondary {
    color: var(--color-foreground-primary);
    opacity: 0.6;
    // mix-blend-mode: difference;
  }
}
