/* Base text styles */
.text {
  &.text-primary {
    color: var(--color-fg);
  }
  &.text-secondary {
    color: var(--color-fg-muted);
  }
}

.body {
  font-family: var(--font-geist-sans);
  font-size: var(--font-size-body);
  line-height: var(--line-height-base);
  font-weight: var(--font-weight-base);
  max-width: 60ch;
  letter-spacing: -0.0055em;
  
}

.bodyEmphasis {
  font-family: var(--font-geist-sans);
  font-size: var(--font-size-body);
  line-height: var(--line-height-base);
  font-weight: var(--font-weight-emphasis);
  letter-spacing: -0.0055em;

}

.bodyArticle {
  font-size: var(--font-size-body-article);
  line-height: var(--line-height-article);
  font-weight: var(--font-weight-article);
  letter-spacing: -0.01em;
}

.heading {
  font-family: var(--font-geist-sans);
  font-size: var(--font-size-heading);
  line-height: var(--line-height-base);
  font-weight: var(--font-weight-heading);
  letter-spacing: -0.0055em;
}

.caption {
  font-family: var(--font-geist-mono);
  font-size: var(--font-size-caption);
  line-height: var(--line-height-base);
  font-weight: var(--font-weight-base);
  letter-spacing: -0.01em;
}

.captionEmphasis {
  font-family: var(--font-geist-mono);
  font-size: var(--font-size-caption);
  line-height: var(--line-height-base);
  font-weight: var(--font-weight-emphasis);  
  letter-spacing: -0.01em;
}

.display {
  font-family: var(--font-geist-sans);
  font-size: var(--font-size-display);
  line-height: var(--line-height-base);
  font-weight: var(--font-weight-heading);
  letter-spacing: -0.025em;

}
