.Text {
  &.main-heading {
    @media screen and (max-width: 600px) {
      font-size: var(--font-size-heading);
    }
    font-size: var(--font-size-main-heading);
    font-weight: var(--font-weight-m);
    letter-spacing: -0.5px;
    line-height: 110%;
  }
  &.heading {
    font-size: var(--font-size-main-heading);
    font-weight: var(--font-weight-m);
    letter-spacing: -0.5px;
    line-height: 100%;
  }
  &.body {
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-m);
    letter-spacing: -0.5px;
    line-height: 125%;
  }

  &.caption {
    font-size: var(--font-size-caption);
    font-weight: var(--font-weight-m);
    letter-spacing: -0.2px;
    line-height: 125%;
  }

  &.secondary {
    color: var(--color-foreground-secondary);
  }
}
