/* Base text styles */
.text {
  --font-family: "Helvetica Neue", system-ui, sans-serif;
}


.body {
  font-family:var(--font-family);
  font-size: var(--font-size-body);
  line-height: var(--line-height-base);
  font-weight: var(--font-weight-base);
  // max-width: 60ch;
  letter-spacing: -0.015em;
  &.text-mono {
    letter-spacing: -0.01em;
    // font-size: 0.8125rem;
  }
  
}

.bodyEmphasis {
  font-family: var(--font-family);
  font-size: var(--font-size-body);
  line-height: var(--line-height-base);
  font-weight: var(--font-weight-emphasis);
  letter-spacing: -0.0055em;
  &.text-mono {
    letter-spacing: -0.01em;
    // font-size: 0.8125rem;
  }

}

.bodyArticle {
  font-size: var(--font-size-body-article);
  line-height: var(--line-height-article);
  font-weight: var(--font-weight-article);
  letter-spacing: -0.01em;
}

.heading {
  font-family: var(--font-family);
  font-size: var(--font-size-heading);
  line-height: var(--line-height-base);
  font-weight: var(--font-weight-heading);
  letter-spacing: -0.0055em;
}

.caption {
  font-family: var(--font-family);
  font-size: var(--font-size-caption);
  line-height: var(--line-height-base);
  font-weight: var(--font-weight-base);
  letter-spacing: -0.01em;
}

.captionEmphasis {
  font-size: var(--font-size-caption);
  line-height: var(--line-height-base);
  font-weight: var(--font-weight-emphasis);  
  letter-spacing: -0.005em;
}

.display {
  font-family: var(--font-family);
  font-size: var(--font-size-display);
  line-height: var(--line-height-base);
  font-weight: var(--font-weight-heading);
  letter-spacing: -0.025em;

}

.text {
  &.text-primary {
    color: var(--color-fg);
  }
  &.text-secondary {
    color: var(--color-fg-muted);
  }
  &.text-mono {
    font-family: var(--font-geist-mono);
    font-feature-settings: "ss01" 1, "ss02" 0, "ss03" 1, "ss04" 0, "ss05" 1, "ss06" 1, "ss09" 1;
  }
  &.uppercase {
    text-transform: uppercase;
  }
  &.overflow-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &.nowrap {
    white-space: nowrap;
  }
}
