.circle {
  height: 10px;
  width: 10px;
  background-color: var(--color-orange);
  color: black;
  font-size: var(--font-size-xs);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 999px;
}
.pill {
  border-radius: 999px;
  // border: 1px solid var(--color-white);
  font-size: var(--font-size-xs);
  line-height: var(--line-height-m);
  white-space: nowrap;
  box-sizing: border-box;
  font-variant-position: super;
}
