.link {
  height: fit-content;
  display: inline-block;
  font-size: inherit;
  font-weight: inherit;
  line-height: 110%;
}
.hover {
  display: block;
  height: 2px;
  margin-top: 2px;
  background-color: white;
}

.trailing-icon {
  display: inline-flex;
  vertical-align: text-bottom;
  padding-inline-start: 8px;
}
