.link {
  width: fit-content;
  display: inline-block;
  font-size: inherit;
  font-weight: inherit;
  line-height: 100%;
  position: relative;

  // color: var(--color-foreground-primary-inverted);
}
.hover {
  display: block;
  height: 100%;
  background-color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 1;
  mix-blend-mode: difference;
}

.trailing-icon {
  display: inline-block;
  vertical-align: bottom;
  // margin-bottom: -0.08em;
  padding-inline: 4px;
  line-height: inherit;
}
