.link {
  height: fit-content;
  display: inline-block;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  position: relative;
}
.hover {
  display: block;
  height: 2px;
  bottom: 1px;
  background-color: white;
  position: absolute;
  width: 100%;
}

.trailing-icon {
  display: inline-block;
  vertical-align: bottom;
  margin-bottom: -0.08em;
  padding-inline: 4px;
  line-height: inherit;
}
