.list-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--space-xxs);
  &.inline {
    flex-direction: row;
    gap: var(--space-xs);
  }

  & .list {
    font-size: var(--font-size-body);
    display: flex;
    flex-direction: column;
    gap: var(--space-xxs);
    &.inline {
      flex-direction: row;
      gap: var(--space-xxs);
      flex-wrap: wrap;
    }
    li {
      list-style-type: none;
      font-weight: var(--font-weight-m);
    }
  }
}
