.list-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--space-xxs);

  & .list {
    font-size: var(--font-size-body);
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
    // margin-left: var(--space-xxs);
    margin-top: var(--space-xs);
    margin-bottom: var(--space-l);

    li {
      font-weight: var(--font-weight-m);
      list-style-type: disc;
      line-height: var(--line-height-l);
    }
  }
}
