.list {
    display: flex;
    flex-direction: column;
    list-style: none;
    min-width: fit-content;
    white-space: nowrap;
    align-items: flex-start;
    &.center {
        align-items: center;
    }
    .listTitle {
        margin-bottom: var(--space-8);
        font-weight: var(--font-weight-bold) !important;
    }
    li {
        display: flex;
    }
}