.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: var(--space-5);
  width: 100%;
}

$alignments: start, end, center;

@each $alignment in $alignments {
  .justify-self-#{$alignment} {
    justify-self: $alignment;
  }

  .align-self-#{$alignment} {
    align-self: $alignment;
  }
}

// Example column spans
@for $i from 1 through 12 {
  .colSpan#{$i} {
    grid-column: span $i;
  }
}

// Example row spans
@for $i from 1 through 12 {
  .rowSpan#{$i} {
    grid-row: span $i;
  }
}

// Negative row spans (span backwards from the end)
@for $i from 1 through 12 {
  .rowSpanEnd#{$i} {
    grid-row: #{'#{-$i} / -1'};
  }
}

// Negative column spans (span backwards from the end)
@for $i from 1 through 12 {
  .colSpanEnd#{$i} {
    grid-column: #{'#{-$i} / -1'};
  }
}
