.asterisk {
  font-size: 20px;
  font-weight: var(--font-weight-m);
  line-height: 100%;
  overflow: hidden;
  &:not(:first-child) {
    padding-inline-start: var(--space-1);
  }
  &:not(:last-child) {
    padding-inline-end: var(--space-1);
  }
}
