.work {
  padding: 0 var(--space-s);
  scroll-padding-top: 300px;
}
.projects {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: calc(var(--space-xl) * 2) var(--space-l);
  grid-template-rows: auto;
  align-items: end;

  margin-top: var(--space-s);
  background-color: var(--color-background-primary);
  & article {
    grid-column: span 6;
  }
}

@media screen and (max-width: 1170px) {
  .projects {
    display: flex;
    flex-direction: column;
    gap: var(--space-l);
  }
}
