.work {
  padding: 0 var(--space-s) 0 var(--space-s);
}
.projects {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: calc(var(--space-xxl) * 2) var(--space-xl);
  grid-template-rows: auto;
  align-items: end;

  margin-top: var(--space-s);
  background-color: var(--color-background-primary);
  & article {
    grid-column: span 6;
  }
}
