.work {
  padding: 0 var(--space-s);
  scroll-padding-top: 300px;
  & .projects {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: calc(var(--space-xl) * 2) var(--space-l);
    grid-template-rows: auto;
    align-items: start;

    padding-top: var(--space-xxl);
    background-color: var(--color-background-primary);
  }
}

@media screen and (max-width: 1170px) {
  .work {
    & .projects {
      display: flex;
      flex-direction: column;
      gap: var(--space-xxl);
    }
  }
}
