@import 'tailwindcss';

:root {
  --background: var(--color-neutral-200);
  --foreground: var(--color-black);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-gyre-heros: var(--font-gyre-heros);
  --animate-spin-slow: spin 7s linear infinite;
  --text-md: 15px;
  --font-weight-normal: 480;
  --leading-snug: 1.3;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-black);
    --foreground: var(--color-neutral-300);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}

p {
  text-wrap: pretty;
}
