.layout {
    display: grid;
    grid-template-columns: 40ch 1fr 1fr;
    position: relative;
    row-gap: var(--space-32);
}

@media screen and (max-width: 1024px) {
    .layout {
        display: flex;
        flex-direction: column;
    }
}
