.layout {
    display: grid;
    grid-template-columns: minmax(35ch, 1fr) 2fr;
    position: relative;
    row-gap: var(--space-32);
}

@media screen and (max-width: 1024px) {
    .layout {
        display: flex;
        flex-direction: column;
    }
}
