.main-nav {
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: 0;
  right: 0;
  z-index: 3;
  mix-blend-mode: exclusion;
  padding: var(--space-s);

  & .nav-link {
    display: block;
    position: relative;
    font-size: var(--font-size-body);
    line-height: 100%;
    color: var(--color-foreground-primary);
    font-weight: var(--font-weight-m);
    mix-blend-mode: exclusion;
    &.logo {
      display: none;
    }
    &.logo-initials {
      display: block;
    }
    @media screen and (min-width: 720px) {
      &.logo {
        display: block;
      }
      &.logo-initials {
        display: none;
      }
    }
  }

  & ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: var(--space-s);
  }
}
