.main-nav {
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: 0;
  right: 0;
  z-index: 3;
  mix-blend-mode: exclusion;
  padding: var(--space-s);
  width: 100%;
  div:has(> div > .mail) {
    display: flex;
    justify-content: end;
  }

  & .main-nav-link {
    display: flex;
    align-items: center;
    gap: var(--space-xxs);
    position: relative;
    font-size: var(--font-size-body);
    // line-height: 100%;
    color: var(--color-foreground-primary);
    font-weight: var(--font-weight-m);

    &.mail {
      justify-self: end;
      &:hover {
        text-decoration: underline;
      }
    }

    & .link-glyph {
      font-size: var(--font-size-caption);
      line-height: 1.5rem;
      border-radius: 999px;
      // box-shadow: inset 0 0 0 1.5px #fff;
      background-color: #fff;
      height: 8px;
      width: 8px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      &.link-glyph-blue {
        box-shadow: none;
        color: #000;
        background: var(--color-blue);
      }
      &.link-glyph-orange {
        box-shadow: none;
        color: #000;
        background: var(--color-orange);
      }
    }
    &:hover,
    &.active {
      & .link-label {
        text-decoration: underline;
      }
    }
  }

  div:has(> div > .logo) {
    display: flex;
  }

  & ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: var(--space-3);
  }
}

@media screen and (max-width: 480px) {
  .main-nav {
    & > div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    div:has(> div > .mail) {
      display: none;
    }
  }
}
