 .navigation {
  color: var(--color-fg);
  // mix-blend-mode: difference;
  // background-color: var(--color-bg);
  // font-family: var(--font-shippori-mincho);
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  padding: var(--space-8);
  margin-inline: auto;
  gap: var(--space-8);
position: fixed;
top:0; 
left: 0;
right: 0;
z-index: 1000;
// max-width: 27rem;
// width: fit-content;
  // padding-block: var(--space-8);
  // border-radius: 999px;
  // width: 100%;
  font-weight: var(--font-weight-base);
  // color: var(--color-fg-muted);
 


 .navigationItems {
  // backdrop-filter: blur(10px);

  // text-align: center;
  // flex-direction: row;
  // align-items: stretch;
  // justify-content: center;
  display: flex;
  gap: var(--space-6);
  width: 100%;
  font-size: var(--font-size-body);
  align-items: baseline;
  // background-color: var(--color-bg-translucent);

 }
}

@media (max-width: 768px) {
  .navigation {
    max-width: 100%;
    padding: var(--space-16);
    .navigationItems {
      justify-content: flex-start;
    }
  }
}