 .navigation {
  // font-family: var(--font-shippori-mincho);
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  padding-inline: var(--space-8);
  margin-inline: auto;
  gap: var(--space-8);
position: sticky;
top: 0;
  padding-block: var(--space-16);
  width: 100%;
  font-weight: var(--font-weight-base);
  color: var(--color-fg-muted);
  z-index: 100;
  &::before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    bottom: -100px;
    z-index: -100;
    pointer-events: none;
    // @media (prefers-color-scheme: dark) {
    //   background: linear-gradient(
    //     to bottom,
    //     hsl(0, 0%, 0%) 0%,
    //     hsla(0, 0%, 0%, 0.987) 6.8%,
    //     hsla(0, 0%, 0%, 0.951) 13.6%,
    //     hsla(0, 0%, 0%, 0.896) 20.5%,
    //     hsla(0, 0%, 0%, 0.825) 27.3%,
    //     hsla(0, 0%, 0%, 0.741) 34.1%,
    //     hsla(0, 0%, 0%, 0.648) 41%,
    //     hsla(0, 0%, 0%, 0.55) 47.7%,
    //     hsla(0, 0%, 0%, 0.45) 54.5%,
    //     hsla(0, 0%, 0%, 0.352) 61.2%,
    //     hsla(0, 0%, 0%, 0.259) 67.9%,
    //     hsla(0, 0%, 0%, 0.175) 74.4%,
    //     hsla(0, 0%, 0%, 0.104) 81%,
    //     hsla(0, 0%, 0%, 0.049) 87.4%,
    //     hsla(0, 0%, 0%, 0.013) 93.7%,
    //     hsla(0, 0%, 0%, 0) 100%
    //   );
    // }
    // @media (prefers-color-scheme: light) {
    //   bottom: calc(var(--space-80) * -1);
    //   background: linear-gradient(
    //     to bottom,
    //     hsl(0, 0%, 100%) 0%,
    //     hsla(0, 0%, 100%, 0.987) 6.8%,
    //     hsla(0, 0%, 100%, 0.951) 13.6%,
    //     hsla(0, 0%, 100%, 0.896) 20.5%,
    //     hsla(0, 0%, 100%, 0.825) 27.3%,
    //     hsla(0, 0%, 100%, 0.741) 34.1%,
    //     hsla(0, 0%, 100%, 0.648) 41%,
    //     hsla(0, 0%, 100%, 0.55) 47.7%,
    //     hsla(0, 0%, 100%, 0.45) 54.5%,
    //     hsla(0, 0%, 100%, 0.352) 61.2%,
    //     hsla(0, 0%, 100%, 0.259) 67.9%,
    //     hsla(0, 0%, 100%, 0.175) 74.4%,
    //     hsla(0, 0%, 100%, 0.104) 81%,
    //     hsla(0, 0%, 100%, 0.049) 87.4%,
    //     hsla(0, 0%, 100%, 0.013) 93.7%,
    //     hsla(0, 0%, 100%, 0) 100%
    //   );
    // }
} 


 .navigationItems {
  max-width: 30rem;
  text-align: center;
  // flex-direction: row;
  // align-items: stretch;
  justify-content: center;
  display: flex;
  gap: var(--space-4);
  width: 100%;
  // background-color: var(--color-bg-translucent);

 }
 .navigationItem {
  box-sizing: border-box;
  width: fit-content;
  text-decoration: none;
  color: var(--color-fg);
  // flex: 1 0 0;
  background-color: var(--color-bg);
  backdrop-filter: blur(30px);
  padding: 2px 12px 2px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 999px;
  font-family: "Helvetica Neue", system-ui, sans-serif;
  font-weight: 400;
  font-size: var(--font-size-body);
  letter-spacing: -0.03em;
  &:hover {
    color: var(--color-fg);
    text-decoration: underline;
    text-underline-offset: 2px;
    text-decoration-color: var(--color-fg);
    text-decoration-thickness: 1px;
    text-decoration-style: dotted;
    // font-style: italic;
    // font-family: 'times new roman' !important;
  }
  &.active {
    // font-family: var(--font-shippori-mincho) !important;
    color: var(--color-fg);
    // box-shadow: inset 0 0 0 1px var(--color-fg);
    // background-color: var(--color-bg-translucent);
    text-decoration: underline;
    text-underline-offset: 2px;
    text-decoration-color: var(--color-fg);
    text-decoration-thickness: 1px;
    text-decoration-style: dotted;




    // background-color: var(--color-bg-inverted);
  }
 }
}