.textOverlay {
    mix-blend-mode:exclusion;
    // border-top: 1px dotted var(--color-fg);
    // background-color: var(--color-bg-inverted);
    // backdrop-filter: blur(10px);
    // border-radius: .375rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: var(--space-6);
    padding: var(--space-6) 0 calc(var(--space-8) - 2px) var(--space-8);
    position: fixed;
    bottom: var(--space-16); 
    left: 0;
    right: 0;
    margin: 0 auto;
    // width: fit-content;
    z-index: 100;
    pointer-events: none;
    width: 27rem;
}

.content {
    display: flex;
    // gap: var(--space-8);
    font-variant-numeric: tabular-nums;
    justify-content: space-between;
    width: 100%;
    align-items: flex-start;
    flex-direction: column;
    mix-blend-mode: luminosity;
    .titleContainer {

        backdrop-filter: blur(10px);
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        width: 100%;
        justify-content: space-between;
        // gap: var(--space-4);
        & > * {
            flex: 1 1 0;
        }
    }
    .description {
        color: var(--color-fg-inverted) !important;
        // padding: var(--space-4) var(--space-6);
        // border-radius: 999px;
        // background-color: var(--color-bg-inverted) !important;
        width: fit-content;
        justify-content: flex-end;
        // margin-top: 2px;
        backdrop-filter: blur(10px);
        font-size: var(--font-size-superscript-small) !important;
        // color: var(--color-fg-inverted) !important;
        font-family: var(--font-family-sans) !important;
    }
}
.indicators {
    // background-color: var(--color-bg-inverted) !important;
    // border-radius: 999px;
    padding: 0 var(--space-8);
    color: var(--color-fg-inverted) !important;
    display: flex;
    gap: var(--space-4);
    justify-content: center;
    // margin-top: 2px;
    
    // Hide scrollbar for webkit browsers (Chrome, Safari, Edge)
    &::-webkit-scrollbar {
        display: none;
    }
    
    // Hide scrollbar for Firefox
    scrollbar-width: none;
    
    // Disable manual scrolling
    pointer-events: none;
    
    // Add gradient mask for fade effect on edges
    
        }
        
        .indicatorText {
        
            line-height: 1;
            font-size: 12px !important;
            
            display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family-sans) !important;
    &.active {
        opacity: 1;
        // text-decoration: underline;
        // text-underline-offset: 1px;
        // text-decoration-color: var(--color-fg-inverted);
        // text-decoration-thickness: 1px;
        // text-decoration-style: dotted;
    }
}

.title {
    // background-color: var(--color-bg-inverted) !important;
    // border-radius: 4px;
    // padding: 2px 0;
    line-height: 1;
    // text-align: center;
    color: var(--color-fg-inverted) !important;
} 