:root {
  // breakpoints
  --breakpoint-xs: 320px;
  --breakpoint-s: 480px;
  --breakpoint-m: 800px;
  --breakpoint-l: 1170px;
  --breakpoint-xl: 1440px;
  --breakpoint-xxl: 1920px

  // font stack
  // --font-family: "Inter V", "suisse int'l", "Inter", sans-serif;

  // font weights
  --font-weight-s: 400;
  --font-weight-m: 500;
  --font-weight-l: 600;

  // font sizes
  --font-size-xxs: 0.8125rem;
  --font-size-xs: 0.875rem;
  --font-size-s: 1rem;
  --font-size-m: 1.25rem;
  --font-size-l: 2.25rem;
  --font-size-xl: 2.75rem;
  --font-size-xxl: 3.75rem;

  --font-size-main-heading: var(--font-size-xxl);
  --font-size-heading: var(--font-size-m);
  --font-size-body: var(--font-size-s);
  --font-size-body-support: var(--font-size-s);
  --font-size-caption: var(--font-size-xs);

  --line-height-xs: 100%;
  --line-height-s: 110%;
  --line-height-m: 130%;
  --line-height-l: 150%;

  //spacing
  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-3: 1rem;
  --space-4: 1.5rem;
  --space-5: 2rem;
  --space-6: 3rem;
  --space-7: 4rem;
  --space-8: 5rem;
  --space-9: 6rem;
  --space-10: 7rem;

  --space-xxs: var(--space-1);
  --space-xs: var(--space-3);
  --space-s: var(--space-4);
  --space-m: var(--space-5);
  --space-l: var(--space-6);
  --space-xl: var(--space-8);
  --space-xxl: var(--space-9);

  // Raw colors

  --color-white: hsl(0, 0%, 100%);
  --color-white-0-5: rgba(255, 255, 255, 0.5);
  --color-black: #0a0a0a;
  --color-blue: #3f8ae2;
  --color-blue: color(display-p3 0.241 0.565 0.88 / 1);
  --color-orange: #e5874f;
  --color-orange: color(display-p3 0.903 0.474 0.186 / 1);

  // Semantic colors
  --color-foreground-primary: var(--color-white);
  --color-foreground-secondary: var(--color-white-0-5);
  --color-foreground-primary-inverted: var(--color-black);
  --color-background-primary: var(--color-black);
  --color-background-primary-inverted: var(--color-white);

  --caption-margin: 131px;
}

// @media screen and (max-width: 450px) {
//   :root {
//     --font-size-main-heading: var(--font-size-m);
//     --font-size-heading: var(--font-size-l);
//     --font-size-body: var(--font-size-m);
//     --font-size-caption: var(--font-size-m);
//   }
// }
html * {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  font-family: var(--font-family);
  // scroll-behavior: smooth !important;
}

body {
  color: var(--color-foreground-primary);
  background: var(--color-background-primary);
  overflow: visible;
  // scroll-behavior: smooth;

  // padding: var(--space-xs);
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  font-weight: var(--font-weight-m);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-forground-primary: var(--color-white);
    --color-background-primary: var(--color-black);
  }
  html {
    color-scheme: dark;
  }
}
