


.homeLayout {
    display: grid;
    grid-template-columns: 1fr minmax(0, 40rem) 1fr;
    flex-direction: column;
    align-items: center;
    gap: var(--space-16);
    padding-inline: var(--space-8);
    flex: 1;
    .content {
        flex: 1;
        display: flex;
        align-items: center;
        flex-direction: column;
        grid-column: 2/3;
        width: 100%;
        align-self: start;
        height: 100%;
    }


}

.footer {
    padding: var(--space-16);
    // grid-column: 1 / 3;
// position: sticky;
display: grid;
gap: var(--space-64);
   grid-template-columns: minmax(25ch, 3fr) minmax(25ch, 3fr)  6fr;
// grid-template-columns: subgrid;
.footerContent {
    grid-column: 1 / 4;

}
.footerText {
    grid-column: 3 / 4;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    // gap: var(--space-8);
}

padding-bottom: var(--space-16);

}
.navigation {
    display: flex;
    flex-direction: column;
    gap: var(--space-4);
    align-items: baseline;
    grid-column: 2/3;
    grid-row-start: 1;
  }

  @media (max-width: 768px) {
    .homeLayout {
      display: flex;
      flex-direction: column;
      padding-inline: var(--space-16);
    }
  }


// @media screen and (max-width: 1280px) {
//     .footer{
//         display: none;
//     }
//     .homeLayout {
//         grid-template-columns: minmax(35ch, 1fr) 1fr;
//         grid-template-rows: auto 1fr;
//         grid-template-areas: "leftColumn thumbnail" "content thumbnail";
//         gap: var(--space-32);
//         .leftColumn {
//             height: auto;
//         }
//         .content {
//             grid-column: 1 / 2;
//             display: flex;

//         }
//     }
// }

// @media screen and (max-width: 920px) {
//     .homeLayout {
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         gap: var(--space-48);
//     }
// }