.container {
    display: flex;
    gap: 64px;
    flex-direction: column;
}

.rightColumn {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: var(--space-32);
    flex: 1;
    height: 100%;
    max-width: 40ch;
}

.leftColumn {
    height: 100%;
    margin-left: -16px;
    max-width: 40ch;}




