.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--space-80);
}

.ReelsPlaceholder {
    height: 400px;
    width: 100%;
    background-color: var(--color-bg-inverted);
    display: flex;
    align-items: center;
    justify-content: center;
}