.fadeOut {
    position: sticky;
    grid-column: 1 / -1;
    bottom: 0;
    left: 0;
    // margin: 0 calc(-1 * var(--space-64));
    padding: 0 var(--space-24);
    width: 100%;
    height: 4rem;
    // Default (Light Mode) Gradient - uses white base
    background:
        linear-gradient(
          to bottom,
          hsla(0, 0%, 100%, 0) 0%,
          hsla(0, 0%, 100%, 0.013) 8.1%,
          hsla(0, 0%, 100%, 0.049) 15.5%,
          hsla(0, 0%, 100%, 0.104) 22.5%,
          hsla(0, 0%, 100%, 0.175) 29%,
          hsla(0, 0%, 100%, 0.259) 35.3%,
          hsla(0, 0%, 100%, 0.352) 41.2%,
          hsla(0, 0%, 100%, 0.45) 47.1%,
          hsla(0, 0%, 100%, 0.55) 52.9%,
          hsla(0, 0%, 100%, 0.648) 58.8%,
          hsla(0, 0%, 100%, 0.741) 64.7%,
          hsla(0, 0%, 100%, 0.825) 71%,
          hsla(0, 0%, 100%, 0.896) 77.5%,
          hsla(0, 0%, 100%, 0.951) 84.5%,
          hsla(0, 0%, 100%, 0.987) 91.9%,
          hsl(0, 0%, 100%) 100%
        );
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: start;
}

// Dark Mode Gradient - uses black base
@media (prefers-color-scheme: dark) {
    .fadeOut {
        background:
            linear-gradient(
              to bottom,
              hsla(0, 0%, 0%, 0) 0%,
              hsla(0, 0%, 0%, 0.013) 8.1%,
              hsla(0, 0%, 0%, 0.049) 15.5%,
              hsla(0, 0%, 0%, 0.104) 22.5%,
              hsla(0, 0%, 0%, 0.175) 29%,
              hsla(0, 0%, 0%, 0.259) 35.3%,
              hsla(0, 0%, 0%, 0.352) 41.2%,
              hsla(0, 0%, 0%, 0.45) 47.1%,
              hsla(0, 0%, 0%, 0.55) 52.9%,
              hsla(0, 0%, 0%, 0.648) 58.8%,
              hsla(0, 0%, 0%, 0.741) 64.7%,
              hsla(0, 0%, 0%, 0.825) 71%,
              hsla(0, 0%, 0%, 0.896) 77.5%,
              hsla(0, 0%, 0%, 0.951) 84.5%,
              hsla(0, 0%, 0%, 0.987) 91.9%,
              hsl(0, 0%, 0%) 100%
            );
    }
}

.fixed {
    position: fixed;
}