.container {
    display: flex;
    grid-column: 1 / -1;
    flex-direction: column;
    gap: var(--space-8);
    scroll-snap-type: y mandatory;
}

.textOverlay {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: var(--space-8);
    position: fixed;
    bottom: var(--space-16); 
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    pointer-events: none;
}

.indicators {
    display: flex;
    gap: var(--space-8);
    font-variant-numeric: tabular-nums;
    justify-content: center;
}

.indicatorText {
    color: var(--color-fg);
}

.title {
    color: var(--color-fg);
    text-align: center;
}

.header {
    max-width: 35ch;
    grid-column: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--space-16);
    .headerContent {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: var(--space-8);
    }
    .buttonContainer {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: var(--space-8);
    }
}