.photo-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  flex-direction: row;
  padding-inline: var(--space-m);
  padding-block: var(--space-xl);
  gap: var(--space-m);
  & > img {
    height: 600px;
    width: auto;
    background-color: rgba($color: #fff, $alpha: 0.3);
  }
}

.contact {
  display: flex;
  gap: var(--space-xl);
  margin-top: var(--space-l);
  padding: var(--space-s);
  flex-direction: column;
  --color-background-primary: gray;
  flex-grow: 2;
}
