
.container {
    text-decoration: none;
    color: var(--color-fg);    
    position: relative;
    // padding-bottom: 1px;

    &:focus-visible {
       border: none;
       outline: 2px solid var(--color-bg-secondary);
       outline-offset: 2px;
    
    }
    .content {
        position: relative;
        @media (prefers-color-scheme: dark) {
            color: white;
            // mix-blend-mode: difference;
        }
            
        z-index: 1;
    }


    .base {
        position: absolute;
        width: 100%;
        height: calc(100% - 1px);
        z-index: -1;
        top: 0;
        left: 0;
        pointer-events: none;
        border-radius: 6px;
       backdrop-filter: blur(10px);
       background-color: rgba($color: #F4F4F4, $alpha: 0.9);
       @media (prefers-color-scheme: dark) {
           background-color: rgba($color: #212121, $alpha: 0.9);
       }     
    }
    
    border-radius: 6px;
   
    padding: var(--space-4) var(--space-8);
    .background {
       display: block;
       width: 100%;
       height: calc(100% - 1px);
       position: absolute;
       background-color: rgba($color:#e3e3e3, $alpha: 1);
       @media (prefers-color-scheme: dark) {
           background-color: rgba($color: #3d3d3d, $alpha: 1);
       }
       z-index: 0;
       top: 0;
       left: 0;
       pointer-events: none;
   }
   
   }
   .content {
       gap: var(--space-8);
       display: flex;
       flex-direction: row;
       align-items: center;
       justify-content: space-between;
   
   
       


   
       
   }


   @media (max-width: 920px) {
    .container {
        padding-block: var(--space-6);
    }
}