.container {
    text-decoration: none;
    color: var(--color-fg);    
    position: relative;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-block: 2px;

    .prepend {
        letter-spacing: 0.08em !important;
        margin-right: var(--space-8);
        font-variant-numeric: tabular-nums;
        // margin-top: 4px;
        font-size: var(--font-size-superscript);
        font-weight: var(--font-weight-base);

    }
    &:hover .project-title {
        text-decoration: underline;
        text-underline-offset: 2px;
        text-decoration-color: var(--color-fg);
        text-decoration-thickness: 1px;
        text-decoration-style: dotted;
    }
    &:active {
        .project-title {
            scale: 0.98;
        }
    }
    &.active,&:hover {
        color: var(--color-fg);
    }

    &.dimmed {
        opacity: 0.3;
    }
    .content {
        position: relative;
        @media (prefers-color-scheme: dark) {
        }
            
        z-index: 1;

    }




//     .base {

//         position: absolute;
//         width:  100%;

//         z-index: -1;
//         top: 0;
//         left: 0;
//         right: 0;
//         bottom: 0;
//         pointer-events: none;
//         border-radius: 6px;
//         // border-bottom: 1px solid var(--color-fg);
//     //    backdrop-filter: blur(10px);
//     //    mix-blend-mode: difference;
//     //    background-color: rgba($color: #F4F4F5, $alpha: 1);
//     //    border: 1px solid var(--color-bg-secondary);
//        @media (prefers-color-scheme: dark) {
//            background-color: rgba($color: rgb(20, 20, 20), $alpha: 0.9);
//        }     
//     }
    
//     // border-radius: 2px; 
   
//     // padding: 2px ;
//     .background {
//        display: block;
//     //    width: 100%;
//        position: absolute;
//        z-index:-1 ;
//        background-color: rgba($color: #000000, $alpha: 1);
//        mix-blend-mode:multiply;
//        @media (prefers-color-scheme: dark) {
//         background-color: rgba($color: rgb(38, 38, 38), $alpha: 0.9);
//        }
//        z-index: 0;
//        top: 0;
//        left: 0;
//        right: 0;
//        bottom: 0;
//        pointer-events: none;
//    }
   
   }
   .content {
       gap: var(--space-);
       display: flex;
       flex-direction: row;
       align-items: center;
    //    justify-content: space-between;
   
   
       


   
       
   }


   @media (max-width: 920px) {
    .container {
        padding-block: var(--space-6);
        height: 2rem;
    }
}