    // .aside {
    //     position: sticky;
    //     top: 16px;
    //     height: fit-content;
    //     display: flex;
    //     grid-column: 1 / 7;
    //     position: sticky;
    //     gap: var(--space-8);
    //     align-self: start;
    //     flex-direction: column;
    //     align-items: flex-start;
    //     max-width: 40ch;
        
    // }
    .layout {
        // padding: var(--space-16)

        // gap: 6vw;
        // grid-template-columns: repeat(24, minmax(0, 1fr));
    }

    .caseStudyLayout {
        margin-top: var(--space-64);
        display: grid;
        grid-template-columns: subgrid;
        grid-column: 1/4;
        // grid-column: 7 / 18;
        // max-width: 60ch;
    }
    


@media (max-width: 920px) {
    .container {
        display: flex;
        flex-direction: column;
        margin-inline: auto;
        justify-content: stretch;
        max-width: 500px;
    }
}