.link {
  height: fit-content;
  display: inline-block;
  font-size: inherit;
  font-weight: inherit;
  line-height: 110%;
  &:hover {
    box-shadow: 0px 3px 0px 0px var(--color-foreground-primary);
  }
}
.trailing-icon {
  display: inline-flex;
  vertical-align: text-bottom;
  margin-inline-start: 2px;
}
