
  .about {
    display: flex;
    flex-direction: column;
    gap: var(--space-24);
    max-width: 48ch;
    align-items: start;
  }

  .intro {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: var(--space-16);
  }

  .links {
    display: flex;
    gap: var(--space-12);
    align-items: baseline;
  }
