  .about {
    display: flex;
    flex-direction: column;
    font-size: var(--font-size-body);
    align-items: flex-start;
    // gap: var(--space-12);
    // position: sticky;
    // top: 8px;
  }

  .intro {
    display: flex;
    // text-align: center;
    flex-direction: column;
    align-items: center;
    
  }

  .serifHighlight {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: var(--color-bg);
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.01), 0 0 6px 1px rgba(0, 0, 0, 0.1);
    padding: 0 6px 0px 4px;
    border-radius: 8px;
    display: inline-block;
    line-height: 1;
  }

  .links {
    display: flex;
    flex-direction: column;
    gap: var(--space-12);
    align-items: baseline;
  }



  .links2 {
    margin-top: 21px;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: -8px;
    button {
      padding-inline: 8px !important;
      letter-spacing: -0.01em;
      height: 24px;
      border: none;
      font-size: var(--font-size-body);
      font-weight: var(--font-weight-base);
      line-height: var(--line-height-base);
      color: var(--color-fg-muted);
      background-color: transparent;
      font-family: var(--font-geist-sans);
      transition: background-color 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
      border-radius: 6px;
      &.active {
        color: var(--color-fg);
      }
      &:hover {
        background: var(--color-bg-secondary);
        color: var(--color-fg);
      }
      
    }
  }

