
.moreWrapper {
    grid-column: 2/3;
    will-change: opacity, filter;
    display: flex;
    flex-direction: column;
    gap: var(--space-80);
    flex-wrap: nowrap;
    justify-content: stretch;
    margin-top: 64px;
    // transform: translate3d(0, 0, 0);
    div {
        flex: 1;
    }

.paragraph {
    display: flex;

    flex-direction: column;
    gap: var(--space-24);
}
}

.listGroup {
    display: flex;
    flex-direction: column;
    gap: var(--space-64);
}

.list {
    display: flex;
    flex-direction: column;
    gap: var(--space-4);
    list-style: none;
    min-width: fit-content;
    white-space: nowrap;
    .listTitle {
        margin-bottom: var(--space-8);
    }
    li {
        display: flex;
    }
}

.readMoreButton {
    margin-left: calc(-1 * var(--space-8));
    .readMoreButtonIcon {
        transition: all 0.2s ease-out;
    }
    &:hover {
        .readMoreButtonIcon {
            translate: 0 1px;
            transition: all 0.2s ease-out;
        }
    }
}

