.footer {
  padding: calc(6 * var(--space-xxl)) var(--space-s) var(--space-s)
    var(--space-s);
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--space-s);
  & a {
    text-decoration: underline;
    word-wrap: break-word;
  }
}

.footer-text {
  display: flex;
  flex-direction: column;
  gap: var(--space-xxs);
  & span {
    display: inline-block;
  }
  & p {
    max-width: 50ch;
  }
}

.cat-avatar {
  height: 1.25rem;
  width: 1.25rem;
  object-fit: cover;
  border-radius: 999px;
  margin-right: var(--space-xxs);
  vertical-align: text-bottom;
}

.circle {
  height: 2rem;
  width: 2rem;
  display: block;
  border-radius: 50%;
  &.blue {
    background-color: var(--color-blue);
  }
  &.orange {
    background-color: var(--color-orange);
  }
  &.outline {
    box-shadow: inset 0 0 0 1.5px white;
  }
}

.lines-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  overflow: hidden;
  & .line {
    display: block;
    transition: 100ms all;
    width: 100%;
    border-bottom-style: solid;
    border-bottom-color: white;
    margin-block: 10px;

    &:hover {
      transition: 100ms all;
      transform: scaleY(1.1);
    }
  }
}
