.footer {
    padding-block: var(--space-48) var(--space-8);
    text-align: left;
    margin-top: var(--space-80);
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: var(--space-16);
    grid-column: 1/2;
    align-self: flex-end;
    // font-weight: var(--font-weight-bold) !important;

    


.image {
    display: inline-block;
    width: 1.375rem;
    height: 1.375rem;
    border-radius: 999px;
    margin-right: var(--space-4);
    vertical-align:bottom;
}}

@media (max-width: 768px) {
    .footer {
        text-align: left;
        align-items: flex-start;
    }
}