.button {
    background: none;
    border: none;
    padding: 0;
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-base);
    line-height: var(--line-height-base);
    color: var(--color-fg);
    text-decoration: none;
    position: relative;
    font-family: var(--font-geist-mono);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--space-8);
    
    & span {
        position: relative;
    }
    
    & span::before {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 2px;
        background-color: var(--color-bg-secondary);
        border-radius: 5px;
        z-index: -1;
        bottom: 1px;
        left: 0;
        transition: all 0.15s ease-out;
    }
    
    &:hover {
        .tooltip {
            opacity: 0.5;
        }
        span {
            position: unset;
        }
        span::before {
            bottom: -2px;
            left: -4px;
            height: 100%;
            padding: 2px 4px;
            background-color: var(--color-bg-secondary);
        }
    }
    
    &:focus-visible {
        outline: none;
        border: none;
        
        span::before {
            height: 100%;
            bottom: -2px;
            left: -4px;
            padding: 2px 4px;
            outline: 2px solid var(--color-bg-secondary);
            outline-offset: 2px;
            border-radius: 4px;
        }
    }
}

.tooltip {
    position: absolute;
    left: calc(100% + var(--space-16));
    font-size: var(--font-size-small);
    color: var(--color-fg);
    white-space: nowrap;

    &Content {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: var(--space-4);
    }
}
