.button {
    height: 24px;
    background: none;
    border: none;
    padding: 0;
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-base);
    line-height: var(--line-height-base);
    color: var(--color-fg);
    text-decoration: none;
    position: relative;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--space-8);
    box-sizing: border-box;
    padding-block: 2px;
    
  
    
    &:hover {
        color: var(--color-fg);
        .tooltip {
            opacity: 0.5;
        }
        span {
            text-decoration: underline;
            text-underline-offset: 2px;
            text-decoration-color: var(--color-fg);
            text-decoration-thickness: 1px;
            text-decoration-style: dotted;
        }
    }

    &:active {
        scale: 0.98;
    }
    
    &:focus-visible {
        outline: none;
        border: none;
        
        span::before {
            height: 100%;
            bottom: -2px;
            left: -2px;
            padding: 2px 2px;
            outline: 2px solid var(--color-bg-secondary);
            outline-offset: 2px;
            border-radius: 6px;
        }
    }
}

.tooltip {
    position: absolute;
    left: calc(100% + var(--space-16));
    font-size: var(--font-size-small);
    color: var(--color-fg);
    white-space: nowrap;

    &Content {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: var(--space-4);
    }
}
