.header {
  margin-block: var(--space-xl) var(--space-xxl);
}

.header h1 {
  color: var(--color-gray-500);
  line-height: 130%;
}

.header-layout {
  display: flex;
  flex-direction: column;
  gap: var(--space-s);
}

.details {
  display: flex;
  flex-direction: column;
  gap: var(--space-xxl);
  width: fit-content;
  & p {
    max-width: 50ch;
    line-height: 130%;
  }
  & .details-list-wrapper {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: var(--space-xxs);
    & li {
      display: flex;
      align-items: start;
      & .list-title {
        font-size: var(--font-size-body);
        font-weight: var(--font-weight-m);
        line-height: var(--line-height-l);
        color: var(--color-foreground-secondary);
        display: block;
        width: 30%;
      }
      & span,
      a {
        font-size: var(--font-size-body);
        font-weight: var(--font-weight-m);
      }
    }
  }
}
