.header {
  margin-block: var(--space-xl) var(--space-xxl);
  & .image-wrapper {
    width: 100%;
    margin-top: var(--space-xl);
    & .image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: var(--radius);
    }
  }
}

.header h1 {
  color: var(--color-gray-500);
  line-height: 130%;
}

.header-layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: var(--space-xs);
  & .title {
    display: flex;
    gap: var(--space-xxs);
    flex-direction: column;
    align-items: center;

    & p {
      max-width: 60ch;
    }
  }
}

.details {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: var(--space-l);
  width: fit-content;
  & p {
    max-width: 50ch;
    line-height: 130%;
  }
  & .details-list-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: var(--space-xxs);
    &.list-wrapper {
      flex-direction: row !important;
    }
    & ul {
      list-style: none;
      & .list-title {
        font-size: var(--font-size-body);
        font-weight: var(--font-weight-m);
        color: var(--color-gray-500);
        margin-bottom: var(--space-xs);
        display: block;
      }
      & li {
        font-size: var(--font-size-body);
        font-weight: var(--font-weight-m);
        margin-top: var(--space-xxs);
      }
    }
  }
}
