.tooltip {
    font-size: var(--font-size-superscript-small);
    font-weight: var(--font-weight-base);
    text-transform: uppercase;
    color: var(--color-fg);
    white-space: nowrap;
    pointer-events: none;
}