

.thumbnail {
    grid-column:3 / 4;
    align-self: flex-start;
    margin-top: var(--space-32);
    // height: calc(100vh - var(--space-64));
    // grid-row: 1 / 4;
    // max-height: 20rem;
    max-width: 40rem;
    // margin-top: var(--space-32);

    margin-inline: auto;
    display: flex;
    align-items: flex-start;
    grid-row-start: 1;
    pointer-events: none;
    // background-color: var(--color-bg-secondary);
    // border-radius: 6px;
    overflow: hidden;
    // padding: var(--space-80);
    // mask-image: url("/star.svg");
    // mask-size: 100%;
    // mask-repeat: no-repeat;
    // mask-position: center;
    // mask-size: 100%;
    // mask-repeat: no-repeat;
    // mask-position: center;
    // mask-size: 100%;

    z-index: -10;



    
}

.imageContainer {
    // width: 100%;
    display: flex;
    // align-items:;
    justify-content: center;
    // height: 100%;
    
    img {
        width: 100%;
        max-width: 100%;
        height: auto;
        max-height: 100%;
        object-fit: cover;
        // border-radius: 3px;
    }
}

@media (max-width: 920px) {
    .thumbnail {
        display: none;
    }
}