.thumbnail {
    display: flex;
    height: calc(100vh - var(--space-24) * 2);
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;

    
    img {
        min-height: 50vh;
        width: auto;
        max-width: 40vw;
        border-radius: 12px;
        aspect-ratio: auto;
        object-fit: cover;
    }
}
