.portalContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
}

.thumbnail {
    position: fixed;
    top: 0;
    right: 5vh;
    height: 100%;
    background-color: color-mix(in oklch, var(--color-bg) 90%, transparent 10%);
    // width: calc(100% - 40ch - 24px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
    
}

.imageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    
    img {
        width: auto;
        max-width: 50vw;
        max-height: 90vh;
        height: auto;
        border-radius: 3px;
    }
}
