.modalWrapper {
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}
.backdrop {
    position: fixed;
    inset: 0;
    backdrop-filter: blur(10px);
   

}

.zoomButton {
    opacity: 0;
    position: absolute;
    bottom: 8px;
    right: 8px;
    background: rgba($color: #000000, $alpha: 0.25);
    backdrop-filter: blur(10px);
    border: none;
    cursor: pointer;
    z-index: 1;
    transition: opacity 0.2s ease-in-out;
    height: 32px;
    width: 32px;
    border-radius: 999px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imageWrapper {
    // margin-inline: calc(-1 * var(--space-40));
    margin-bottom: var(--space-40);
    overflow: hidden;
    // border: 1px solid rgba($color: #000000, $alpha: 0.25);
    height: fit-content;
    display: flex;
    position: relative;
    &:hover {
        .zoomButton {
            opacity: 1;
        }
    }
}

.imageWrapperExpanded {
    max-height: 90%;
    position: absolute;
    border: none;
    }
.image {
    width: 100%;
    height: auto;
}
